<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_id %>
    <%= f.number_field :card_id %>
  </div>

  <div class="field">
    <%= f.label :card_name %>
    <%= f.text_field :card_name %>
  </div>

  <div class="field">
    <%= f.label :card_desc %>
    <%= f.text_area :card_desc %>
  </div>

  <div class="field">
    <%= f.file_field :card_img.to_s %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
