
<div class="container">
  <nav class="navbar navbar-static-top" role="navigation">
  </nav>
<!--div class="alert alert-success" role="aler">
<p id="notice"><%= notice %></p>
</div-->

<div class="row">
  <div class="col-md-4">
<table class="table" style="text-align:left">
<tr>
  <td rowspan="4" style="text-align:right;border: 1px solid #ddd;">
      <%= image_tag @card.card_img.to_s %>
  </td>
  <td height="10%">
  <strong>卡片編號</strong>
  </td>
  <td height="10%" >
  <%= @card.card_id %>
  </td>
</tr>
<tr>
  <td height="10%">
  <strong>卡片名稱</strong>
</td>
<td height="10%">
  <%= @card.card_name %>
</td>
</tr>
<tr>
  <td height="10%">
  <strong>支付點數</strong>
</td>
<td height="10%">
  <%= @card.cost%>
</td>
</tr>
<tr>
<td height="70%">
<strong>卡片說明</strong>
</td>
<td height="70%">
  <%= @card.card_desc %>
</td>
</tr>
</table>
</div>
</div>

<%= link_to 'Edit', edit_card_path(@card),:class => 'btn btn-default' %>
<%= link_to 'Back', cards_path,:class => 'btn btn-default' %>



</div>
